[package]
name = "lod-prepare"
version = "0.1.0"
authors = ["Benno Bielmeier <benno.bielmeier@st.oth-regensburg.de>"]
edition = "2018"
default-run = "lod-prepare"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
config = "0.10"
rustfft = "4"

[dependencies.rusqlite]
version = "0.24.1"
features = ["bundled"]
